@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Lato', sans-serif;
}

.header{
  background-color: #2d303a;
  height: 89px;
  /* 
  display: flex;
  justify-content: center;
  align-items: center; */
}

.container{
  max-width: 1020px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0 auto;
}

.header__logo{
  font-weight: 700;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  margin-left: 40px;
  margin-top: 29px;
  margin-right: 459px;
  position: relative;
}

.asterisk{
  position: absolute;
  top: 29px;
  color: #f06c64;
  top: 0px;
}

.site-navigation{
  display: inline-block;
}

.header__nav{
  list-style: none;
}

.header__item::after{
  content: "·";
  color: #fff;
  position: absolute;
  margin-left: 9px;
  margin-top: 6px;
}

.header__item:last-child{
  margin: 0;
}

.header__item{
  display: inline;
  font-size: 12px;
  margin-right: 30px;
  margin-right: 26px;
}

.header__link{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
}

.header__hr{
  height: 6px;
  background-color: #323746;
  border: 0;
  margin-top: 31px;
}

.main{
  margin-top: 6px;
  
}

.slider{
  height: 600px;
  background-color: #f06c64;
}

.slider__back-icon{
  background-image: url(/img/icon-back.svg);
  width: 16px; 
  height: 27px;
  background-repeat: no-repeat;
  margin-left: 42px;
  margin-top: 281px;
  float: left;
}

.slider__left-phone{
  background-image: url(/img/iPhone\ Vertical.png);
  background-repeat: no-repeat;
  width: 240px;
  height: 486px;
  float:left;
  margin-top: 53px;
  margin-left: 54px;
}

.slider__right-phone{
  background-image: url(/img/iPhone\ Horizontal.png);
  width: 484px;
  height: 240px;
  float: left;
  margin-left: 74px;
  margin-top: 174px;
}

.slider__next-icon{
  background-image: url(/img/icon-next.svg);
  width: 16px; 
  height: 27px;
  background-repeat: no-repeat;
  margin-left: 55px;
  margin-top: 281px;
  float: left;
}

.slider__hr{
  display: inline-block;
  height: 6px;
  background-color: #ea676b;
  width: 100%;
  border: 0;
  margin-top: 55px;
}

.services{
  background-color: #f2f2f2;
  height: 494px;
  color: #666d89;
}

.services__title{
  font-size: 30px;
  font-weight: 900;
  display: inline-block;
  margin-top: 67px;
  margin-left: 40px;
  margin-top: 59px;
}

.services__description{
  font-weight: 300;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 19px;
  line-height: 30px;
  text-align: justify;
  width: 939px;
  word-spacing: -1px;
}

.services__item-description{
  width: 220px;
  font-weight: 400;
  font-size: 12px;
  margin-top: 7px;
  line-height: 1.9;
  text-align: justify;
  word-spacing: -3px;
}

.services__list{
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  height: 207px;
  list-style: none;
  margin-top: 42px;
}

.services__item{
  width: 299px;
  height: 86px;
}

.services__item-title{
  font-size: 18px;
}

.services__content{
  margin-left: 20px;
  margin-left: 81px;
}

.feel-star-title{
  margin-top: -2px;
  margin-left: 3px;
}

.support-title{
  margin-top: -3px;
  word-spacing: -2px;
}

.love-answer-title{
  margin-left: 3px;
}

.responsive-layout-title{
  margin-top: -2px;
}

.bottom-block{
  margin-top: 39px;
}

.left-block{
  margin-left: 20px;
}

.services__icon{
  width: 62px;
  height: 62px;
  float: left;
  margin-top: 3px;
}

.icon-pen{
  background-image: url(/img/icons/pen.svg);
}

.icon-bulb{
  background-image: url(/img/icons/bulb.svg);
}

.icon-heart{
  background-image: url(/img/icons/heart.svg);
  margin-top: 3px;
  margin-left: 1px;
}

.icon-phone{
  background-image: url(/img/icons/phone.svg);
  margin-top: 1px;
}

.icon-bubble{
  background-image: url(/img/icons/bubble.svg);
  margin-top: 1px;
}

.icon-star{
  background-image: url(/img/icons/star.svg);
  margin-top: 1px;
  margin-left: 1px;
}

.services__hr{
  background-color: #fff;
  height: 6px;
  border: 0;
}